/*** 
    Custom styles for the login page.
    - Applies a darker theme with a gradient background.
    - Centers the login form.
***/
body.darker-theme {
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
}

.container {
    text-align: center;
    color: white;
}

form {
    margin-top: 20px;
}
